body {
    min-height: 100vh;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.1rem;
    counter-reset: citation;
}

code {
    color: var(--gray);
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-1 {
    border-width: 0.1vw !important;
}

.border-2 {
    border-width: 0.2vw !important;
}

.border-3 {
    border-width: 0.3vw !important;
}

.toggleable-content .menu-icon {
    float: right;
    display: none;
}

@media screen and (max-width: 992px)
{
    .toggleable-content .menu-icon {
        display: block;
        clear: both;
    }
    .toggleable-content .trigger {
        display: none;
    }
    .toggleable-content:hover .trigger {
        display: block;
        clear: both;
    }
}

cite a::before {
    font-style: normal;
    counter-increment: citation;
    content: "[" counter(citation) "]";
}
