@font-face {
    font-family: 'Pointfree';
    src: local(Pointfree),
         url('https://static.agill.xyz/fonts/pointfree.woff2') format('woff2'),
         url('https://static.agill.xyz/fonts/pointfree.woff')  format('woff'),
         url('https://static.agill.xyz/fonts/pointfree.ttf')   format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Mono';
    src: local('Comic Mono'),
         url('https://static.agill.xyz/fonts/comicmono.woff2') format('woff2'),
         url('https://static.agill.xyz/fonts/comicmono.woff') format('woff'),
         url('https://static.agill.xyz/fonts/comicmono.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    min-height: 100vh;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.1rem;
    counter-reset: citation;
}

pre, code, kbd {
    font-family: Pointfree, 'Comic Mono', 'Comic Code', 'Fantasque Sans Mono', var(--font-family-monospace);
    color: var(--gray);
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-1 {
    border-width: 0.1vw !important;
}

.border-2 {
    border-width: 0.2vw !important;
}

.border-3 {
    border-width: 0.3vw !important;
}

.toggleable-content .menu-icon {
    float: right;
    display: none;
}

@media screen and (max-width: 992px)
{
    .toggleable-content .menu-icon {
        display: block;
        clear: both;
    }
    .toggleable-content .trigger {
        display: none;
    }
    .toggleable-content:hover .trigger {
        display: block;
        clear: both;
    }
}

cite a::before {
    font-style: normal;
    counter-increment: citation;
    content: "[" counter(citation) "]";
}

nav[data-toggle="toc"] {
    top: 74px;
}

@media (max-width: 768px) {
    nav[data-toggle="toc"] {
        margin-bottom: 74px;
        position:static;
    }

    nav[data-toggle="toc"] .nav .nav {
        display: block;
    }
}
