/*woff2, woff, and ttf have to following coverage:
 *  chrome 3.5+, safari 3+, firefox 3.5+, opera 10.1+, ie 9+,
 *  android 2.2+, ios 4.3+
 */
@font-face {
    font-family: 'cm_serif';
    src: url('../assets/fonts/cm_serif.woff2') format('woff2'),
         url('../assets/fonts/cm_serif.woff') format('woff'),
         url('../assets/fonts/cm_serif.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cm_serif';
    src: url('../assets/fonts/cm_bold.woff2') format('woff2'),
         url('../assets/fonts/cm_bold.woff') format('woff'),
         url('../assets/fonts/cm_bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cm_serif';
    src: url('../assets/fonts/cm_italic.woff2') format('woff2'),
         url('../assets/fonts/cm_italic.woff') format('woff'),
         url('../assets/fonts/cm_italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cm_serif';
    src: url('../assets/fonts/cm_serif_bold_italic.woff2') format('woff2'),
         url('../assets/fonts/cm_serif_bold_italic.woff') format('woff'),
         url('../assets/fonts/cm_serif_bold_italic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'cm_mono';
    src: url('../assets/fonts/cm_mono.woff2') format('woff2'),
         url('../assets/fonts/cm_mono.woff') format('woff'),
         url('../assets/fonts/cm_mono.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cm_mono';
    src: url('../assets/fonts/cm_mono_bold.woff2') format('woff2'),
         url('../assets/fonts/cm_mono_bold.woff') format('woff'),
         url('../assets/fonts/cm_mono_bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'cm_mono';
    src: url('../assets/fonts/cm_mono_italic.woff2') format('woff2'),
         url('../assets/fonts/cm_mono_italic.woff') format('woff'),
         url('../assets/fonts/cm_mono_italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'cm_mono';
    src: url('../assets/fonts/cm_mono_bold_italic.woff2') format('woff2'),
         url('../assets/fonts/cm_mono_bold_italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
