{% load static %}

<!doctype HTML>
<html>
{% include "includes/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/research.css' %}">
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Research Projects</h1>
    <ul class="projects">
        <li class="project" id="fast-eig">
            <span class="date">2017-2018</span><span class="title">Understanding <em>A Fast Contour-Integral Eigensolver for Non-Hermitian Matrices</em></span><span class="subtitle">B.S. Capstone</span>
            <div class="description">
                <blockquote class="abstract">
                    <p>We examine a new complex contour integral-based eigensolver algorithm using ideas from functional analysis. This eigensolver algorithm extends previous eigensolvers that typically required some special structure, to an eigensolver that works on a more general class of complex-valued matrices.</p>
                    <p>The algorithm consists of two stages. First, it searches the complex plane for regions dense with eigenvalues. Second, it combs through those regions to find the eigenvalues using a modified form of the FEAST algorithm.</p>
                    <p>Due to time constraints we were only able to examine the first stage in detail, and for completeness provide a description for the second stage. Our work was exploratory in nature, which in practice consisted of building and testing a Matlab implementation of the first stage.</p>
                </blockquote>

                <a href="sources/">Sources</a>
                <a href="https://git.agill.xyz/nots/math_research">Code</a>
                <a href="{% static 'pdfs/papers/presentation.pdf' %}">Presentation</a>
                <a href="{% static 'pdfs/papers/paper.pdf' %}">Paper</a>
                <a href="{% static 'pdfs/papers/report.pdf' %}"> Mid-Project Progress Report</a>
            </div>
        </li>
        <li class="project">
            <span class="date">2018-2019</span><span class="title">Undecided</span><span class="subtitle">M.S. Thesis</span>
            <div class="description">
                <blockquote class="abstract">

                </blockquote>

            </div>
        </li>
    </ul>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
