{% load static %}

<!doctype HTML>
<html>
{% include "includes/head.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/research.css' %}">
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Research Project Sources</h1>

    <a href="{% static 'assets/sources.bib' %}"><code>sources.bib</code></a>
    <ul class="sources">
        <li class="source"><span class="bibtex-id"><code>fast-eig</code></span><a href="">A Fast Contour-Integral Eigensolver For Non-Hermitian Matrices</a></li>
        <li class="source"><span class="bibtex-id"><code>eigensolver-map</code></span><a href="">A Map Of Contour Integral-Based Eigensolvers For Solving Generalized Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>trefethen</code></span><a href="">Numerical Linear Algebra</a></li>
        <li class="source"><span class="bibtex-id"><code>feast</code></span><a href="">A Density Matrix-Based Algorithm For Solving Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>hssulv</code></span><a href="">A Fast ULV Decomposition Solver For Hierarchically Semiseparable Representations</a></li>
        <li class="source"><span class="bibtex-id"><code>martinsson</code></span><a href="">A Fast Randomized Algorithm For Computing A Hierarchically Semiseparable Representation Of A Matrix</a></li>
        <li class="source"><span class="bibtex-id"><code>chandrasekaran</code></span><a href="">Fast Algorithms For Hierarchically Semiseparable Matrices</a></li>
        <li class="source"><span class="bibtex-id"><code>hsslib</code></span><a href="">A Hierarchically Semiseparable (HSS) Matrix Package</a></li>
        <li class="source"><span class="bibtex-id"><code>xia-hss</code></span><a href="">On The Stability Of Some Hierarchical Rank Structured Matrix Algorithms</a></li>
        <li class="source"><span class="bibtex-id"><code>counting</code></span><a href="">A Contour-Integral Based Method For Counting The Eigenvalues Inside A Region In The Complex Plane</a></li>
        <li class="source"><span class="bibtex-id"><code>randomized-feast</code></span><a href="">A Randomized Feast Algorithm For Generalized Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>kamgnia_philippe_2013</code></span><a href="">Counting Eigenvalues In Domains Of The Complex Field</a></li>
        <li class="source"><span class="bibtex-id"><code>kirsten_loya_2008</code></span><a href="">Calculation Of Determinants Using Contour Integrals</a></li>
        <li class="source"><span class="bibtex-id"><code>sakurai_sugiura_2003</code></span><a href="">A Projection Method For Generalized Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>quojian_2015</code></span><a href="">A Contour-Integral Based Qz Algorithm For Generalized Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>yammamoto_2018</code></span><a href="">A Large-Grained Parallel Algorithm For Nonlinear Eigenvalue Problems Using Complex Contour Integration</a></li>
        <li class="source"><span class="bibtex-id"><code>beyn_2010</code></span><a href="">An Integral Method For Solving Nonlinear Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>power_eig</code></span><a href="">A Parallel Contour Integral Method For Eigenvalue Analysis Of Power Systems</a></li>
        <li class="source"><span class="bibtex-id"><code>takahasi</code></span><a href="">Complex Function Theory And Numerical Analysis</a></li>
        <li class="source"><span class="bibtex-id"><code>vanbarel_2016</code></span><a href="">Nonlinear Eigenvalue Problems And Contour Integrals</a></li>
        <li class="source"><span class="bibtex-id"><code>article</code></span><a href="">A Block Arnoldi-Type Contour Integral Spectral Projection Method For Solving Generalized Eigenvalue Problems</a></li>
        <li class="source"><span class="bibtex-id"><code>godunov_1998</code></span><a href="">Modern Aspects Of Linear Algebra</a></li>
    </ul>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
