{% load static %}

<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">

<div class="page-content">
<div class="wrap">
    <h1>Our Community</h1>

    <ul class="community">
        <li class="member" id="Greeng0ld">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/greeng0ld_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/greeng0ld.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">Greeng0ld</span></div>
            <div class="contact-grid">
                    <div class="uuid-grid">UUID: <code class="uuid">f497e600e74d454a8b8b61d3c4bbbc5f</code></div>
                <a class="contact" href="https://www.reddit.com/user/greeng0ld"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="about-grid">
                <p><em>Really</em> likes quartz. Like, maybe a little too much.</p>
            </div>
        </li>
        <li class="member" id="Notgnoshi">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/notgnoshi_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/notgnoshi.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">Notgnoshi</span></div>
            <div class="contact-grid">
                <a class="contact" href="mailto:Notgnoshi@gmail.com"><i class="fas fa-envelope"></i></a>
                <!-- <a class="contact" href="#"><i class="fab fa-discord"></i></a> -->
                <a class="contact" href="https://reddit.com/user/notgnoshi"><i class="fab fa-reddit"></i></a>
                <a class="contact" href="https://twitter.com/Notgnoshi"><i class="fab fa-twitter"></i></a>
                <a class="contact" href="https://github.com/Notgnoshi"><i class="fab fa-github"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">dc33d21d50af4708974f2ecbc6945a9c</code></div>
            <div class="about-grid">
                <p>Likes building big, very beautiful things.</p>
            </div>
        </li>
        <li class="member" id="Marsgoon">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/marsgoon_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/marsgoon.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">Marsgoon</span></div>
            <div class="contact-grid">
                <a class="contact" href="https://www.reddit.com/user/marsgoon"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">b64b9d155f614c16abce9f5c73cc4f00</code></div>
            <div class="about-grid">
                <p>Likes building big, slightly-less-than-beautiful things.</p>
            </div>
        </li>
        <li class="member" id="Nickguy">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/nickguy_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/nickguy.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">Nickguy</span></div>
            <div class="contact-grid">
                <a class="contact" href="https://www.reddit.com/user/nickguy03"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">f3d825045fd8400189983482c97c3888</code></div>
            <div class="about-grid">
                <p>Likes horses to a questionable degree.</p>
            </div>
        </li>
        <li class="member" id="Checkers300">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/checkers300_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/checkers300.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">Checkers300</span></div>
            <div class="contact-grid">
                <a class="contact" href="mailto:ch3ckers300@gmail.com"><i class="fas fa-envelope"></i></a>
                <a class="contact" href="https://www.reddit.com/user/Checkers300"><i class="fab fa-reddit"></i></a>
                <a class="contact" href="https://www.snapchat.com/add/Checkers300"><i class="fab fa-snapchat"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">3a372c7e966642a297adcafcc6389136</code></div>
            <div class="about-grid">
                <p>Builds the biggest things, but never gets them done.</p>
            </div>
        </li>
        <li class="member" id="AzeTheGreat">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/azethegreat_skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/azethegreat.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">AzeTheGreat</span></div>
            <div class="contact-grid">
                <a class="contact" href="https://www.reddit.com/user/AzeTheGreat"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">f56bf26df91d4c178c7cda1a07acc7e3</code></div>
            <div class="about-grid">
                <blockquote>&ldquo;...idk...&rdquo;</blockquote>
            </div>
        </li>
        <li class="member" id="chris_s_">
            <div class="player-skin-grid">
                <a class="skin" href="{% static 'assets/players/chris_s__skin.png' %}">
                    <img class="skin-render" src="{% static 'assets/players/chris_s_.png' %}" alt="skin">
                </a>
            </div>
            <div class="username-grid"><span class="username">chris_s_</span></div>
            <div class="contact-grid">
                <a class="contact" href="https://www.reddit.com/user/chriss9931_"><i class="fab fa-reddit"></i></a>
            </div>
            <div class="uuid-grid">UUID: <code class="uuid">c3daff4707554f46b1ba4c1b2f6c8ecd</code></div>
            <div class="about-grid">
                <blockquote>&ldquo;You can put whatever for bio&rdquo;</blockquote>
            </div>
        </li>
    </ul>
</div>
</div>

{% include "includes/footer.html" %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</body>
</html>
