<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Server Details</h1>
        <ul>
            <li>Version: <a href="https://minecraft.gamepedia.com/1.13">1.13</a></li>
            <li>IP: <a href=""><code>mc.agill.xyz</code></a></li>
            <li><a href="/rules/">Rules</a></li>
            <li><a href="https://discord.gg/pSCcUVc">Discord</a></li>
        </ul>

    <h1>We're getting the gang back together!</h1>
        <p>We've been playing together for <em>years</em> (at least since version 1.2.1 for some of us!), and we've followed each other across many different servers over that time. We've built a <em>community</em> together! We've suffered through the terrifying first nights together, conquored dragons together, and painfully helped each other transport villagers across the world.</p>

        <p>Lately though, we've had to jump from server to server, each time starting from scratch. And as time has progressed, we've all gotten busier, to the point that <em>we no longer play together.</em> This is an attempt to fix that.</p>

    <h2>What I need from you</h2>
        <p>Get your creative juices flowing! I also still need a few people to opt in to our <a href="/community/">community page.</a></p>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
