<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Server Details</h1>
        <ul>
            <li>Vanilla Minecraft <a href="https://minecraft.gamepedia.com/1.13">1.13</a></li>
            <li>Our <a href="https://discord.gg/pSCcUVc">Discord</a></li>
            <li>Server IP address: <a href=""><code>mc.agill.xyz</code></a></li>
        </ul>

    <h1>We're getting the gang back together!</h1>
        <p>We've been playing together for <em>years</em> (at least since version 1.2 for some of us!), and we've followed each other across many different servers over that time. We've built a <em>community!</em> We've suffered through the terrifying first nights together, conquored dragons together, and laughed together as we refused to help each other fight off hordes of Zombie Pigmen.</p>

        <p>Lately though, we've had to jump from server to server, each time starting from scratch. And as time has progressed, we've all gotten busier, to the point that <em>we no longer play together.</em> This is an attempt to fix that.</p>

        <p>Pending the official release of Minecraft 1.13, we'll be hosting a <em>vanilla</em> Minecraft server right here at <code>mc.agill.xyz</code>! I'll send out texts, emails, Reddit messages, and smoke signals once we're up and running, but for now get your creative juices flowing!</p>

    <h2>Why start over <em>again?</em></h2>
        <p>Minecraft 1.13 is almost here, and it's looking <em>sweet!</em> I'm hoping to combined excitement of trying to get us back together, and exploring a new update together is enough to get people going again.</p>

        <p>I'm also looking to get something semi-permanent set up. I already own a <a href="https://www.reddit.com/r/homelab/comments/86u40d/my_tiny_homelab/">server</a> for other things, so I can run a Minecraft server long-term without having to pay for a VPS.</p>

        <p>I also think using vanilla is also a good reason to start over. Read on!</p>

    <h2>Why <em>vanilla?!</em></h2>
        <p>I know, I know, we love our plugins. But using plugins is the single biggest reason maintaining a server is difficult. Besides, we've always advertised ourselves as "semi-vanilla", and have used plugins to supplement, not replace vanilla functionality.</p>

        <p>Here's a few of my thoughts:</p>

        <ul>
            <li>A vanilla server is <em>far</em> easier to maintain.</li>
            <li>We can update to a new Minecraft version the week it comes out.</li>
            <li>We can get close to a <code>/home</code> and/or <code>/warp</code> experience with command blocks. We could also contract some certain road-building fiend to build us a Nether network.</li>
            <li>Grief Prevention? We're all adults. If it becomes a problem, we can handle it at that time. I've thought about whitelisting the server in an attempt to mitigate this risk, but haven't come to a conclusion yet. I'd welcome your input!</li>
            <li>What about my beloved Chest Shops? Most of us have resorted to bartering anyways.</li>
            <li>I miss the challenge! Sure, flying was cool, but after a while, I had a chest (or 32) dedicated to every item in the game.</li>
        </ul>

        <p>Let me know what you think, and start getting hyped!</p>

    <h2>What I need from you</h2>
        <p>Head on over to our <a href="/community">community</a> page. You'll notice that it's a little sparse. Let's work on fleshing it out a bit! All I really need is your Minecraft username, preferred contact method, and you can write your own little blurb/description/about thingy (subject to approval and a complete creative rewrite, of course).</p>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
