<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Rules</h1>
        <p>Here's what we decided on together. Since we're all friends, infractions will be handled on a case-by-case basis, and suggestions will be listened to.</p>

        <ul>
            <li>Griefing in any manner is unacceptable. Since mob griefing is enabled, creeper craters, etc., should be repaired as soon as possible, and spawning Withers should be done in a controlled environment.</li>
            <li>If you'd like to "claim" land, clearly post boundary markers and signs. If you're trying to find a place to build, follow this simple rule: "Don't be a dick."</li>
            <blockquote style="font-size: 2em">&ldquo;Don't be a dick.&rdquo;</blockquote>
            <li>There will be no warps to or from anywhere.</li>
            <li>The world will start off fairly small at a 3000x3000 block square centered at spawn. The world will be expanded, within reason, at player request and admin approval.</li>
            <li>Reasonable farms are fine. Unreasonable farming includes, but is not limited to</li>
                <ul>
                    <li>Extended AFKing</li>
                    <li>Farms that cause lag.</li>
                </ul>
            <li>Since we're all friends, let's try to treat each other with respect, even when we don't want to.</li>
        </ul>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
