<!-- Begin -->
<div class="card-columns">
    {% for player in players %}
    <div class="card drop-shadow">
        <div class="card-header">{{ player.username }}</div>
        <div class="card-body">
            <img class="card-img-top pl-5 pr-5" src="{{ static_url }}/images/players/{{ player.uuid }}.png" alt="Skin render" />
            <span class="card-text small"><code>{{ player.uuid }}</code></span>
            <div class="d-flex flex-row">
                {% for contact in player.contacts %}{% if contact.type == "email" %}<a class="pr-2 text-muted"
                    href="mailto:{{ contact.value }}"><i class="fas fa-envelope"></i></a>
                {% elif contact.type == "reddit" %}<a class="pr-2 text-muted"
                    href="https://reddit.com/user/{{ contact.value }}"><i class="fab fa-reddit"></i></a>
                {% elif contact.type == "twitter" %}<a class="pr-2 text-muted"
                    href="https://twitter.com/{{ contact.value }}"><i class="fab fa-twitter"></i></a>
                {% elif contact.type == "github" %}<a class="pr-2 text-muted"
                    href="https://github.com/{{ contact.value }}"><i class="fab fa-github"></i></a>
                {% elif contact.type == "snapchat" %}<a class="pr-2 text-muted"
                    href="https://snapchat.com/add/{{ contact.value }}"><i class="fab fa-snapchat"></i></a>
                {% elif contact.type == "facebook" %}<a class="pr-2 text-muted"
                    href="https://facebook.com/{{ contact.value }}"><i class="fab fa-facebook"></i></a>
                {% endif %}{% endfor %}</div>
            <div class="card-text mb-0">{{ player.about | safe }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End -->
