<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>About Me</h1>

    <p>I'm yet another shitty, depressed, and cynical mathematician/developer.</p>

    <h1>About This Site</h1>

    <p>It's yet another shitty personal website. This one happens to be written in <a href="https://www.djangoproject.com/" target="_blank">Django</a>, and served using <a href="https://www.nginx.com/" target="_blank">Nginx</a> and <a href="https://uwsgi-docs.readthedocs.io/en/latest/" target="_blank">uWSGI</a>, mostly as an excuse to use buzzwords. Also, it's <em>finally</em> version-controlled!</p>

    <p>The actual Django project can be found <a href="https://git.agill.xyz/nots/agill.xyz" target="_blank">here</a>, but the uWSGI and Nginx configuration can be found <a href="https://git.agill.xyz/nots/WWW" target="_blank">here</a> instead.</p>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
