<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Hello World?</h1>

    <p>Welcome to another shitty personal website. Don't you feel enriched?</p>

    <h1>Resources</h1>

    <p>This is a conveniency list of things I might want frequent access to.</p>

    <ul>
        <li><a href="https://blog.agill.xyz">blog.agill.xyz</a>, my blog. Currently redirects to <a href="https://notgnoshi.github.io">notgnoshi.github.io</a></li>
        <li><a href="https://github.com/Notgnoshi">github.com/Notgnoshi</a>, my GitHub</li>
        <li><a href="https://plex.agill.xyz">plex.agill.xyz</a>, personal Plex server</li>
        <li><a href="https://research.agill.xyz">research.agill.xyz</a>, school research projects</li>
        <li><a href="https://git.agill.xyz">git.agill.xyz</a>, personal Git server with private projects that I don't have to pay for!</li>
        <li><a href="https://wiki.agill.xyz">wiki.agill.xyz</a>, a personal wiki. mostly used for documenting Linux configurations and problems I've come across</li>
        <li><a href="https://pihole.agill.xyz">pihole.agill.xyz</a>, local DNS level network-wide advertisement blocking</li>
        <li><a href="https://monitor.agill.xyz">monitor.agill.xyz</a>, Netdata monitoring for my server</li>
        <li><a href="https://mc.agill.xyz">mc.agill.xyz</a>, a personal Minecraft server. <strong>TODO: implement with Django</strong></li>
        <li><a href="https://test.agill.xyz">test.agill.xyz</a>, a website for testing different dumb stuff. <strong>TODO: remove</strong></li>
        <li><a href="https://notes.agill.xyz">notes.agill.xyz</a>, unused. <strong>TODO: remove</strong></li>
        <li><a href="https://todo.agill.xyz">todo.agill.xyz</a>, unused. <strong>TODO: implement or remove</strong></li>
    </ul>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
