<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <h1>Resources</h1>
    <ul>
        <li><a href="ubuntu-configuration/">Instructions</a> for configuring a new Ubuntu installation to my preferences.</li>
    </ul>

    <h1>Subdomains</h1>
    <ul>
        <li><a href="https://git.agill.xyz">git.agill.xyz</a>, personal Git server.</li>
        <li><a href="https://plex.agill.xyz">plex.agill.xyz</a>, personal Plex server</li>
        <li><a href="https://research.agill.xyz">research.agill.xyz</a>, school research projects</li>
        <li><a href="https://wiki.agill.xyz">wiki.agill.xyz</a>, a personal wiki. Mostly used for documenting Linux configurations and problems I've come across</li>
        <li><a href="https://pihole.agill.xyz">pihole.agill.xyz</a>, local DNS level network-wide advertisement blocking</li>
        <li><a href="https://monitor.agill.xyz">monitor.agill.xyz</a>, Netdata monitoring for my server</li>
        <li><del><a href="https://mc.agill.xyz">mc.agill.xyz</a>, a personal Minecraft server.</del> Currently down.</li>
        <li><a href="https://nas.agill.xyz">nas.agill.xyz</a>, external DSM access to my NAS.</li>
    </ul>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
