{% load pygmentify_tags %}
<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">
    <p>I end up installing and reinstalling Ubuntu <em>a lot</em>. As with many Linux users, I cannot <em>not</em> customize my installation. However, I use multiple devices with several accounts, some of which are not managed by me. This leads to a massive headache when trying to keep customizations in sync, especially when they keep changing as I learn new things.</p>
    <p>This page is an attempt to consolidate all of my notes and helper scripts into the same place.</p>

    <ul>
        <li><a href="#installation">Installation</a></li>
        <ul>
            <li><a href="#live-disk">Creating the Startup Disk</a></li>
            <li><a href="#installing">Installing Ubuntu</a></li>
        </ul>
        <li><a href="#first-steps">First Steps</a></li>
        <ul>
            <li><a href="#bootstrap-software">Bootstrap Software</a></li>
            <li><a href="#ssh-keys">SSH Keys</a></li>
            <li><a href="#dotfiles">Dotfiles</a></li>
        </ul>
        <li><a href="#software">Software</a></li>
        <ul>
            <li><a href="#user-pip">Installing Pip as a User</a></li>
            <li><a href="#local-usr">Installing to <code>~/.local/</code> as a User</a></li>
            <li><a href="#python-libraries">Python Libraries</a></li>
            <li><a href="#vscode-extensions">Visual Studio Code and Extensions</a></li>
            <li><a href="#apt-packages">Apt Packages</a></li>
        </ul>
        <li><a href="#customization">Customization</a></li>
        <ul>
            <li><a href="#ubuntu-settings">Ubuntu Settings</a></li>
            <li><a href="#gnome-extensions">Gnome Extensions</a></li>
            <li><a href="#gnome-tweaks">Gnome Tweak Tool</a></li>
            <li><a href="#network">Network Settings</a></li>
            <li><a href="#sdsmt">School VPN and Network Drives</a></li>
            <li><a href="#misc">Misc Config</a></li>
        </ul>
    </ul>

    <h1 id="installation">Installation</h1>
        <p>Actually installing Ubuntu is a very simple task. The folks at Canonical have put extraordinary amounts of effort to make installing Ubuntu both fast and simple.</p>
        <h3 id="live-disk">Creating the Startup Disk</h3>
            <p>I only mention this because it has changed in recent years. You used to have to use <a href="https://unetbootin.github.io/">UNetbootin</a> to create a live USB from an ISO image. Nowadays you can use the builtin Startup Disk Creator to flash an ISO image to a USB drive. There's no need to install additional software, or run anything with <code>sudo</code>.</p>

            <img class="centered" src="/static/images/ubuntu-configuration/startup-disk-creator.png">

            <p>Select the ISO and USB drive you wish to flash, and click "Make Startup Disk". It will take some time, but is otherwise painless.</p>
            <p>Note that the USB drive chosen may make a difference. I have learned that whenever I try to install from an image flashed to one of <a href="http://a.co/d/94snmEr">these</a> flash drives, I get hit by <a href="https://bugs.launchpad.net/ubuntu/+source/ubiquity/+bug/658865">this nasty bug</a>. In short, the fix is to select "Try Ubuntu without installing" when prompted, and then delete <code>/usr/lib/ubiquity/apt-setup/generators/40cdrom</code> before running the installer.</p>
            <p>Additionally, depending on the device I am installing Ubuntu on, there are some fixes that must be done before Ubuntu will install successfully.</p>
            <p>On my Dell XPS 15 9560, I need to follow the instructions provided in this <a href="https://askubuntu.com/a/989707">answer</a> and install the Nvidia drivers before it will boot.</p>
            <p>On my piecemeal desktop, I need to boot from a USB 2.0 port as discussed <a href="https://askubuntu.com/a/26864">here</a>.</p>
        <h3 id="installing">Installing Ubuntu</h3>
            <p>This is a straightforward matter. The only thing worth mentioning is the installation type. You have several choices:</p>

            <img class="centered" src="/static/images/ubuntu-configuration/partition-settings.png">

            <p>My choice depends on the device I am installing Ubuntu on. On several, I dual boot with other operating systems. On some, I use only Ubuntu. Your mileage may vary. Make sure to backup your data regardless of your choice.</p>
    <h1 id="first-steps">First Steps</h1>
        <h3 id="bootstrap-software">Bootstrap Software</h3>
            <p>Before anything else can be done, I need <code>vim</code> and <code>git</code></p>
            <!-- Find a way to make this indentable. -->
{% pygmentify %}
<pre class="shell">
sudo apt install vim git curl
</pre>
{% endpygmentify %}
        <h3 id="ssh-keys">SSH Keys</h3>
            <p>Before I can clone my <a href="https://github.com/Notgnoshi/dotfiles">dotfiles</a> repository, I need to set up SSH keys for both <a href="https://github.com/Notgnoshi">github.com</a>, <a href="https://gitlab.mcs.sdsmt.edu">gitlab.mcs.sdsmt.edu</a>, and <a href="https://git.agill.xyz/">git.agill.xyz</a>.</p>
{% pygmentify %}
<pre class="shell">
mkdir -p ~/.ssh
ssh-keygen -t rsa -b 4096 -f ~/.ssh/git
echo "AddKeysToAgent yes

Host github.com
    IdentityFile ~/.ssh/git

Host git.agill.xyz
    IdentityFile ~/.ssh/git

Host gitlab.mcs.sdsmt.edu
    IdentityFile ~/.ssh/git

Host anguish
    IdentityFile ~/.ssh/digitalocean

Host limbo
    IdentityFile ~/.ssh/limbo

Host agill.xyz
    IdentityFile ~/.ssh/limbo

Host linux103
    HostName linux103.mcs.sdsmt.edu
    User xxxxxxx
    IdentityFile ~/.ssh/opplab" > ~/.ssh/config
</pre>
{% endpygmentify %}
            <p>And then add the SSH keys to the proper accounts.</p>
        <h3 id="dotfiles">Dotfiles</h3>
            <p>Then I clone my dotfiles repository to <code>~/.config/dotfiles/</code> and symlink each of the dotfiles so that I don't have a git repository in my home folder.</p>
{% pygmentify %}
<pre class="shell">
git clone git@github.com:Notgnoshi/dotfiles.git ~/.config/dotfiles
~/.config/dotfiles/deploy.py ~
# Answer 'y' to 'Update dotfiles and plugins...' prompt
# Answer 'y' to 'Install fzf?' prompt
~/bin/configure.sh
source ~/.bashrc
</pre>
{% endpygmentify %}
            <p>This installation and configure process needs some work before I am completely happy with it. For one, I would like to forego <code>~/bin/</code> in favor of <code>~/.local/bin/</code> and I would like to remove the dependence on <a href="https://git.agill.xyz">git.agill.xyz</a> for a number of reasons. I would also like to rewrite the <code>bin/configure.sh</code> script to do everything that I'm listing on this page.</p>
    <h1 id="software">Software</h1>
        <h3 id="user-pip">Installing Pip as a User</h3>
            <p>For machines I do not have <code>sudo</code> privileges on, but still want an effective Python environment (Looking at you, school Linux lab), install Pip as a user.</p>
{% pygmentify %}
<pre class="shell">
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
python3 get-pip.py --user
</pre>
{% endpygmentify %}
        <h3 id="local-usr">Installing to <code>~/.local/</code> as a User</h3>
            <p>The only thing needed to do here is add things to my path(s) so that I can build and install programs to <code>~/.local/</code> as a user. The following is set already in my <code>~/.bashrc</code>, so there's no extra configuration to do.</p>
{% pygmentify %}
<pre class="shell">
# Add ~/bin/ to path
export PATH="$HOME/bin:$PATH"

# Add locally-installed binaries to path
export PATH="$HOME/.local/bin:$PATH"

# Add local header files to gcc path
export CPATH="$HOME/.local/include:$CPATH"

# Add local libraries to linker path
export LIBRARY_PATH="$LIBRARY_PATH:$HOME/.local/lib"

# Add local libraries to runtime path
export LD_LIBRARY_PATH="$LIBRARY_PATH"
</pre>
{% endpygmentify %}
        <h3 id="python-libraries">Python Libraries</h3>
            <p>The Ubuntu repositories have an out-of-date version of Pip, so I prefer to install it without using Apt.</p>
{% pygmentify %}
<pre class="shell">
curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
sudo -H python3 get-pip.py
</pre>
{% endpygmentify %}
            <p>Now, you're not supposed to install Python packages with <a href="https://stackoverflow.com/questions/21055859/what-are-the-risks-of-running-sudo-pip">sudo</a>, so install them as a user</p>
{% pygmentify %}
<pre class="shell">
pip install --upgrade --user pylint pycodestyle pydocstyle nose black virtualenv \
    pygments ipython jupyter jupyterlab parsedatetime parse-torrent-name         \
    nbstripout nb_pdf_template
python3 -m nb_pdf_template.install --minted
mkdir -p ~/.jupyter
echo "c.PDFExporter.latex_command = ['xelatex', '-8bit', '-shell-escape','{filename}']" > ~/.jupyter/jupyter_nbconvert_config.py
echo "c.LatexExporter.template_file = 'classicm'" >> ~/.jupyter/jupyter_nbconvert_config.py
</pre>
{% endpygmentify %}
        <h3 id="apt-packages">Apt Packages</h3>
            <p>Previously mentioned, there are essential packages that a prerequisites for anything else.</p>
{% pygmentify %}
<pre class="shell">
sudo apt install vim git curl
</pre>
{% endpygmentify %}
            <p>Here are commands essential to development work.</p>
{% pygmentify %}
<pre class="shell">
sudo apt install gcc g++ clang clang-format clang-tidy gdb valgrind make cmake  \
    shellcheck doxygen graphviz python3-dev optipng
</pre>
{% endpygmentify %}
            <p>Here are packages for LaTeX development</p>
{% pygmentify %}
<pre class="shell">
sudo apt install texlive-full chktex pdf2svg pandoc
</pre>
{% endpygmentify %}
            <p>Here are essential utilities.</p>
{% pygmentify %}
<pre class="shell">
sudo apt install htop nmap traceroute screen screenfetch linux-tools-common    \
    linux-tools-generic openssh-server tree iperf net-tools nfs-common pv
</pre>
{% endpygmentify %}
            <p>And tools necessary for further customization.</p>
{% pygmentify %}
<pre class="shell">
sudo add-apt-repository ppa:numix/ppa
sudo add-apt-repository ppa:mikhailnov/pulseeffects
sudo apt install gnome-tweak-tool chrome-gnome-shell numix-gtk-theme           \
    numix-icon-theme-circle pulseeffects
</pre>
{% endpygmentify %}
            <p>Nvidia drivers</p>
{% pygmentify %}
<pre class="shell">
sudo add-apt-repository ppa:graphics-drivers
sudo apt install nvidia-driver-415
</pre>
{% endpygmentify %}
        <h3 id="vscode-extensions">Visual Studio Code and Extensions</h3>
            <p>I install Visual Studio Code and configure the excellent <a href="https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync">Settings Sync</a> extension, which manages the rest of my extensions and settings using a private GitHub gist.</p>
{% pygmentify %}
<pre class="shell">
curl -L https://go.microsoft.com/fwlink/?LinkID=760868 -o code.deb
sudo apt install ./code.deb
code --install-extension shan.code-settings-sync
</pre>
{% endpygmentify %}
            <p>Follow the instructions <a href="https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync">here</a> to set up a new gist, or download settings from an existing gist. Unfortunately, I have not found a way to perform these steps from the commandline.</p>
        <h3 id="spotify-and-discord">Spotify and Discord</h3>
            <p>There are two ways to install Spotify for Ubuntu as mentioned <a href="https://www.spotify.com/us/download/linux/">here</a>.</p>
{% pygmentify %}
<pre class="shell">
sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 931FF8E79F0876134EDDBDCCA87FF9DF48BF1C90
echo deb http://repository.spotify.com stable non-free | sudo tee /etc/apt/sources.list.d/spotify.list
sudo apt-get update
sudo apt-get install spotify-client
</pre>
{% endpygmentify %}
            <p>And then to install Discord,</p>
{% pygmentify %}
<pre class="shell">
curl -L "https://discordapp.com/api/download?platform=linux&format=deb" -o discord.deb
sudo apt install ./discord.deb
</pre>
{% endpygmentify %}
        <h3 id="games">Games</h3>
            <p>You used to have to do a lot of work in order to <em>nicely</em> install Minecraft on Linux, such as downloading a thumbnail, creating a startup script, and then creating <code>~/.local/share/applications/minecraft.desktop</code>. Now there is a Debian installer available straight from the minecraft <a href="https://minecraft.net/en-us/download/alternative/">website</a>. Note that this requires Java.</p>
{% pygmentify %}
<pre class="shell">
sudo add-apt-repository ppa:webupd8team/java
sudo apt install oracle-java8-installer libpango1.0-0
curl -L https://launcher.mojang.com/download/Minecraft.deb -o minecraft.deb
sudo apt install ./minecraft.deb
</pre>
{% endpygmentify %}
            <p>Installing Steam is much more straightforward.</p>
{% pygmentify %}
<pre class="shell">
sudo apt install steam
</pre>
{% endpygmentify %}
    <h1 id="customization">Customization</h1>
        <p>The absolute very first thing I do is clean everything but <code>Documents</code>, <code>Downloads</code>, and <code>Desktop</code> from my home folder.</p>
{% pygmentify %}
<pre class="shell">
rm -rf examples.desktop Desktop Videos Music Public Templates
</pre>
{% endpygmentify %}
        <p>Then I go through the system settings and tweak things to my preferences.</p>
        <h3 id="ubuntu-settings">Ubuntu Settings</h3>
{% pygmentify %}
<pre class="shell">
gsettings set org.gnome.shell favorite-apps "['firefox.desktop', 'org.gnome.Nautilus.desktop']"
gsettings set org.gnome.desktop.peripherals.touchpad natural-scroll false
gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true
gsettings set org.gnome.desktop.interface clock-format '12h'
gsettings set org.gtk.Settings.FileChooser clock-format '12h'
gsettings set org.gnome.desktop.notifications show-in-lock-screen false
gsettings set org.gnome.desktop.privacy remember-recent-files false
gsettings set org.gnome.desktop.datetime automatic-timezone true
gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-timeout 3600
gsettings set org.gnome.settings-daemon.plugins.power sleep-inactive-ac-type 'nothing'
gsettings set org.gnome.settings-daemon.plugins.power ambient-enabled true
gsettings set org.gnome.shell.extensions.dash-to-dock dash-max-icon-size 36
</pre>
{% endpygmentify %}
        <h3 id="gnome-extensions">Gnome Extensions</h3>
            <p>I install the following Gnome Shell Extensions</p>
            <ul>
                <li><a href="https://extensions.gnome.org/extension/15/alternatetab/">AlternateTab</a></li>
                <li><a href="https://extensions.gnome.org/extension/1319/gsconnect/">GSConnect</a></li>
                <li><a href="https://extensions.gnome.org/extension/19/user-themes/">User Themes</a></li>
                <li><a href="https://extensions.gnome.org/extension/484/workspace-grid/">Workspace Grid</a></li>
                <li><a href="https://extensions.gnome.org/extension/887/workspace-isolated-dash/">Workspace Isolated Dash</a></li>
            </ul>
        <h3 id="gnome-tweaks">Gnome Tweak Tool</h3>
            <p>After installing all of the extensions, I configure them and a few more settings with Gnome Tweak Tool.</p>
{% pygmentify %}
<pre class="shell">
gsettings set org.gnome.desktop.wm.preferences num-workspaces 4
gsettings set org.gnome.desktop.wm.preferences focus-mode 'sloppy'
gsettings set org.gnome.settings-daemon.plugins.xsettings hinting 'full'
gsettings set org.gnome.desktop.interface icon-theme 'Numix-Circle'
gsettings set org.gnome.desktop.interface show-battery-percentage true
gsettings set org.gnome.desktop.interface clock-show-date true
gsettings set org.gnome.mutter workspaces-only-on-primary false
gsettings set org.gnome.desktop.background show-desktop-icons false
gsettings set org.gnome.shell.extensions.dash-to-dock isolate-workspaces true
</pre>
{% endpygmentify %}
            <p>I also install PulseEffects to play with my sound settings. It might be necessary to run PulseEffects before setting these settings.</p>
{% pygmentify %}
<pre class="shell">
gsettings set com.github.wwmm.pulseeffects.sinkinputs.deesser post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.multibandcompressor post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.deesser post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.maximizer post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.gate post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.loudness post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.compressor post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs plugins "['autogain', 'bass_enhancer', 'limiter', 'gate', 'multiband_gate', 'compressor', 'multiband_compressor', 'convolver', 'exciter', 'crystalizer', 'stereo_tools', 'reverb', 'equalizer', 'deesser', 'crossfeed', 'loudness', 'maximizer', 'filter']"
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.multibandcompressor post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.autogain post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.exciter post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.equalizer post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.multibandgate post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.multibandgate post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.bassenhancer amount 10.0
gsettings set com.github.wwmm.pulseeffects.sinkinputs.bassenhancer post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.bassenhancer state true
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.compressor post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.crossfeed post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.pitch post-messages false
gsettings set com.github.wwmm.pulseeffects enable-all-apps true
gsettings set com.github.wwmm.pulseeffects use-dark-theme true
gsettings set com.github.wwmm.pulseeffects.sinkinputs.crystalizer post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.gate post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.stereotools post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.limiter post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.convolver post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.filter post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.filter post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.reverb post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.webrtc post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.reverb post-messages false
gsettings set com.github.wwmm.pulseeffects.sinkinputs.equalizer post-messages false
gsettings set com.github.wwmm.pulseeffects.sourceoutputs.limiter post-messages false
</pre>
{% endpygmentify %}
        <h3 id="network">Network Settings</h3>
            <p>If I'm installing on a Laptop, I add my local NFS shares using my NAS's static local IP. But before I can do that, I need to make the directories where the shares will be mounted.</p>
{% pygmentify %}
<pre class="shell">
mkdir -p /mnt/{assets,documents,images,plex,projects}
</pre>
{% endpygmentify %}

{% pygmentify %}
<pre class="shell">
# Synology NAS NFS shares. Note that this is a laptop, and these are local
# IPs. Also note that noauto means they won't be mounted on startup.
192.168.1.112:/volume1/ASSETS       /mnt/assets      nfs user,noauto 0 0
192.168.1.112:/volume1/DOCUMENTS    /mnt/documents   nfs user,noauto 0 0
192.168.1.112:/volume1/IMAGES       /mnt/images      nfs user,noauto 0 0
192.168.1.112:/volume1/PLEX         /mnt/plex        nfs user,noauto 0 0
192.168.1.112:/volume1/PROJECTS     /mnt/projects    nfs user,noauto 0 0
</pre>
{% endpygmentify %}
            <p>If I'm installing something that will always be connected to my local network, I add the following instead</p>
{% pygmentify %}
<pre class="shell">
# Synology NAS NFS shares
192.168.1.112:/volume1/ASSETS       /mnt/assets      nfs defaults 0 0
192.168.1.112:/volume1/DOCUMENTS    /mnt/documents   nfs defaults 0 0
192.168.1.112:/volume1/IMAGES       /mnt/images      nfs defaults 0 0
192.168.1.112:/volume1/PLEX         /mnt/plex        nfs defaults 0 0
192.168.1.112:/volume1/PROJECTS     /mnt/projects    nfs defaults 0 0
</pre>
{% endpygmentify %}
            <p>I also add any static local IPs to <code>/etc/hosts</code> and add an associated SSH key and entry in <code>~/.ssh/config</code>.</p>
        <h3 id="sdsmt">School VPN and Network Drives</h3>
            <p>I have been able to figure out how to connect to the school VPN and network drives from an Ubuntu operating system, and have received repeated requests to share this knowledge, as it is not officially supported by the school. First, create a new PPTP VPN.</p>
            <p><strong>Update:</strong> It appears that either the Ubuntu 18.10 VPN utility is broken, or the school ITS department has it configured improperly. Running <code>telnet techvpn.sdsmt.edu 1723</code> times out.</p>
            <img class="centered" src="/static/images/ubuntu-configuration/vpn-pptp.png">
            <p>Then enter the following information in the Identity tab.</p>
            <img class="centered" src="/static/images/ubuntu-configuration/vpn-identity.png">
            <p>The username is your student ID number and the password is either your email password, D2L password, or WebAdvisor password, I'm not sure. Then configure the following settings in the Advanced menu.</p>
            <img class="centered" src="/static/images/ubuntu-configuration/vpn-advanced.png">
            <p>Note that <code>MSCHAP</code> and <code>MSCHAPv2</code> are the only boxes checked in the list of available authentication methods.</p>
            <p>Then to connect to the shared F Drive, connect to a server in Nautilus with the address <code>smb://speedy.sdsmt.edu/sdsmtshare/</code>. When you click "connect", you will need to enter your username and password (the same as for the VPN).</p>
            <img class="centered" src="/static/images/ubuntu-configuration/f-drive.png">
            <p>To connect to your personal H Drive, the address is <code>smb://speedy.sdsmt.edu/student_id$/</code> (note the <code>$</code>!)</p>
            <img class="centered" src="/static/images/ubuntu-configuration/h-drive.png">
        <h3 id="misc">Misc Config</h3>
            <p>I like enabling insults on incorrect <code>sudo</code> password attempts. It adds needed levity when it's nearing a deadline and I can't build a PDF because LaTeX is a bitch about SVG images.</p>
{% pygmentify %}
<pre class="shell">
# Add 'Defaults insults' to '/etc/sudoers'
# Will complain about readonly, but use :wq! to force write.
sudo vim /etc/sudoers
# sudo visudo will open in nano (eww)
</pre>
{% endpygmentify %}
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
