<!doctype HTML>
<html>
{% include "includes/head.html" %}
<body>
{% include "includes/header.html" %}

<div class="page-content">
<div class="wrap">

    <p>I end up installing and reinstalling Ubuntu <em>a lot</em>. As with many Linux users, I cannot <em>not</em> customize my installation. However, I use multiple devices with several accounts, some of which are not managed by me. This leads to a massive headache when trying to keep customizations in sync, especially when they keep changing as I learn new things.</p>
    <p>This page is an attempt to consolidate all of my notes and helper scripts into the same place.</p>

    <ul>
        <li><a href="#installation">Installation</a></li>
        <ul>
            <li><a href="#live-disk">Creating the Startup Disk</a></li>
            <li><a href="#installing">Installing Ubuntu</a></li>
        </ul>
        <li><a href="#software">Software</a></li>
        <ul>
            <li><a href="#user-pip">Installing Pip as a User</a></li>
            <li><a href="#local-usr"><code>~/.local/usr/</code></a></li>
            <li><a href="#python-libraries">Python Libraries</a></li>
            <li><a href="#vscode-extensions">Visual Studio Code Extensions</a></li>
            <li><a href="#apt-packages">Apt Packages</a></li>
        </ul>
        <li><a href="#customization">Customization</a></li>
        <ul>
            <li><a href="#ubuntu-settings">Ubuntu Settings</a></li>
            <li><a href="#gnome-tweaks">Gnome Tweak Tool</a></li>
            <li><a href="#network">Network Settings</a></li>
            <li><a href="#ssh-keys">SSH Keys</a></li>
            <li><a href="#dotfiles">Dotfiles</a></li>
            <li><a href="#themes">Themes</a></li>
            <li><a href="#gnome-extensions">Gnome Extensions</a></li>
            <li><a href="#sdsmt">School VPN and Network Drives</a></li>
        </ul>
    </ul>

    <h1 id="installation">Installation</h1>

    <h3 id="live-disk">Creating the Startup Disk</h3>
    <h3 id="installing">Installing Ubuntu</h3>

    <h1 id="software">Software</h1>

    <h3 id="user-pip">Installing Pip as a User</h3>
    <h3 id="local-usr"><code>~/.local/usr/</code></h3>
    <h3 id="python-libraries">Python Libraries</h3>
    <p style="color: red">Also include virtualenv, pylint, etc.</p>
    <h3 id="vscode-extensions">Visual Studio Code Extensions</h3>
    <h3 id="apt-packages">Apt Packages</h3>
    <p style="color: red">Just how to set up Settings Sync on a new computer.</p>

    <h1 id="customization">Customization</h1>

    <h3 id="ubuntu-settings">Ubuntu Settings</h3>
    <p style="color: red">Look into gsettings...</p>
    <h3 id="gnome-tweaks">Gnome Tweak Tool</h3>
    <h3 id="network">Network Settings</h3>
    <p style="color: red">fstab, etc/hosts</p>
    <h3 id="ssh-keys">SSH Keys</h3>
    <h3 id="dotfiles">Dotfiles</h3>
    <h3 id="themes">Themes</h3>
    <h3 id="gnome-extensions">Gnome Extensions</h3>
    <h3 id="sdsmt">School VPN and Network Drives</h3>
</div>
</div>

{% include "includes/footer.html" %}
</body>
</html>
