@font-face {
    font-family: "Pointfree";
    src: local(Pointfree), url("/fonts/pointfree.woff2") format("woff2"),
        url("/fonts/pointfree.woff") format("woff"),
        url("/fonts/pointfree.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Comic Mono";
    src: local("Comic Mono"), url("/fonts/comicmono.woff2") format("woff2"),
        url("/fonts/comicmono.woff") format("woff"),
        url("/fonts/comicmono.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body {
    min-height: 100vh;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.1rem;
    counter-reset: sidenote-counter;
    background-color: #fff;
    position: relative;
}

pre,
code,
kbd {
    font-family: Pointfree, "Comic Mono", "Comic Code", "Fantasque Sans Mono", var(--font-family-monospace);
    color: var(--gray);
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.border-1 {
    border-width: 0.1vw !important;
}

.border-2 {
    border-width: 0.2vw !important;
}

.border-3 {
    border-width: 0.3vw !important;
}

.toggleable-content .menu-icon {
    float: right;
    display: none;
}

/* sidenotes and marginnotes. Modified from tufte.css */
p {
    width: 70%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -50%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 0.9rem;
    line-height: 1.2;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 0.8rem;
    top: -0.5rem;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

@media (max-width: 780px) {
    p {
        width: 100%;
    }
    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1340px;
    }
}

@media screen and (max-width: 992px) {
    .toggleable-content .menu-icon {
        display: block;
        clear: both;
    }
    .toggleable-content .trigger {
        display: none;
    }
    .toggleable-content:hover .trigger {
        display: block;
        clear: both;
    }
}

cite a::before {
    font-style: normal;
    counter-increment: citation;
    content: "[" counter(citation) "]";
}

nav[data-toggle="toc"] {
    top: 74px;
}

@media (max-width: 767px) {
    nav[data-toggle="toc"] {
        margin-bottom: 74px;
        position: static;
    }

    nav[data-toggle="toc"] .nav .nav {
        display: block;
    }
}
